@*ROBERT PIETKIEWICZ U3144505*@
@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" media="(max-width: 768px)" type="text/css" href="~/css/mystyle.css">
<link rel="stylesheet" media="(min-width: 768px)" type="text/css" href="~/css/mystyle.css"> @*for viewing on tablet larger than 768px*@
@*@<img src="E:\3rd yr sem1 uni coursework - MAIN\Web\VS projects\CanberraRestaurants\CanberraRestaurants\wwwroot\images\Restaurant" />*@
<link href="~/css/mystyle.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato|Oxygen" rel="stylesheet" type="=text/css">
<link href="~/css/elastic_grid.min.css" rel="stylesheet" type="text/css" />


<div class="parallax_scrolling3">
    <div class="dark_background resizeblah">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="pad">
                    <p class="oxygenotherpage">CANBERRA RESTAURANTS</p>
                </div>
                </div>
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                @*<p class="lato">"People who love to eat are always the best people."</p>*@
                <p class="niconne3">Prices</p>
            </div>
        </div>
    </div>
</div>

@*<br />*@

<div class="row text-banner-altpage" style="background-color:white;">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">

            <div style="color:black;">
                <h3 class="header-text">a dish for every budget</h3>
                <br />
                <div class="oxygen2">Whether you are on a budget or you have just won the lottery and you are looking to spend big, Canberra has the perfect restaurant for you.</div>
                <br />
                <div class="oxygen2">Check out what's on offer by selecting a price category from the table below.</div>
            </div>
        </div>

        <div class="col-md-5">
            <div class="col-md-6" style="padding-top:60px;">
                <img src="~/images/burgertwo.jpg" />
            </div>
            <div class="col-md-6" style="padding-top:60px;">
                <img src="~/images/pastatwo.jpg" />
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<br />
<br />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $("#jquery").click(function () {
            $("#maindiv").css("height", "250px");
            $("#maindiv").css("font-size", "88px");
            $("#maindiv").html("<b>jQuery</b>");

        });



        $("#maindiv").mouseenter(function () {
            $("#maindiv").html("<div id='jquerydiv' style='margin:10px; height:300px; with:100%;'></div>");
            $("#jquerydiv").css("background-image", "url('../images/jquery.jpg')");
            $("#jquerydiv").css("background-size", "50%");
            $("#jquerydiv").css("background-repeat", "no-repeat");
            $("#jquerydiv").css("display", "none");
            $("#jquerydiv").slideDown("slow");
        });

        $("#maindiv").mouseleave(function () {
            $("#jquerydiv").slideUp("slow", function () {
                $("#maindiv").html("<b>jQuery</b>");
            });
        });
    });

</script>



<div class="container-fluid" id="elastic_grid"></div>

<!-- Elastic grid -->
<script type="text/javascript">
        $(function(){
            $("#elastic_grid").elastic_grid({
                'showAllText' : 'All',
                'filterEffect': 'popup',
                'hoverDirection': true,
                'hoverDelay': 0,
                'hoverInverse': false,
                'expandingSpeed': 500,
                'expandingHeight': 800,
                'items' :
                [
                    {
                        'title': 'Jewel of India <hr/> <a class="btn btn-primaryp">Click Here!</a>',
                        'description': '<h4>Pappadum with Assorted Dips $9.90, Vegetable Samosas $11.90, Onion Bhaji $12.90. These are just some of the dishes that are below $15. Click below to view more cheap dishes!</h4>',
                        'thumbnail': ['/images/dishesprices/jewel_thumbnail.jpg'],
                        'large': ['/images/dishesprices/jewel.jpg'],
                        'button_list'   :
                        [
                            { 'title': 'View Menu', 'url': 'https://jewelofindia.com.au/pdfs/Jewel_Dine_in_Menu_June_15.pdf', 'new_window': true },
                        ],
                        'tags'          : ['Budget']
                    },



                    {
                        'title': 'Italian and Sons <hr/> <a class="btn btn-primaryp">Click Here!</a>',
                        'description'   : '<h4>Spritz with campari or aperol $14, White peach bellini $17, Negroni sbagliato $16. These are just some of the dishes that are below $20. Click below to view more cheap dishes!</h4>',
                        'thumbnail': ['/images/dishesprices/is_thumbnail.jpg'],
                        'large': ['/images/dishesprices/is.jpg'],
                        'button_list'   :
                        [
                            { 'title': 'View Menu', 'url': 'https://italianandsons.com.au/food/', 'new_window': true },
                        ],
                        'tags'          : ['Budget']
                    },



                    {
                        'title': 'Blu Ginger <hr/> <a class="btn btn-primaryp">Click Here!</a>',
                        'description': '<h4>Ling fillet infused with ground cumin, caraway, ginger, garlic and fenugreek leaves and pan finshed in rich gravy of brown onion, tomato $21.90, fresh ling fillet cooked in a sauce of coriander, cumin, tumeric powder $21.90. These are just some of the dishes that are below $25. Click below to view more delicious meals!</h4>',
                        'thumbnail': ['/images/dishesprices/bluginger_thumbnail.jpg'],
                        'large': ['/images/dishesprices/bluginger.jpg'],
                        'button_list':
                        [
                            { 'title': 'View Menu', 'url': 'http://www.bluginger.com.au/menu/', 'new_window': true },
                        ],
                        'tags'          : ['Mid-Range']
                    },



                    {
                        'title': 'Jamies Italian <hr/> <a class="btn btn-primaryp">Click Here!</a>',
                        'description': '<h4>Gennaro Tagliatelle Bolognese $23.50, Spicy Sausage Fusilli $24, Silky Spaghetti Carbonara $22.50. These are just some  of the dishes below $25. Click below to view more delicious dishes!</h4>',
                        'thumbnail': ['/images/dishesprices/jamies_thumbnail.jpg'],
                        'large': ['/images/dishesprices/jamies.jpg'],
                        'button_list':
                        [
                            { 'title': 'View Menu', 'url': 'https://www.jamieoliver.com/italian/australia/menu/', 'new_window': true },
                        ],
                        'tags'           : ['Mid-Range']
                    },


                     
                    {
                        'title': 'Dickson Noodle House <hr/> <a class="btn btn-primaryp">Click Here!</a>',
                        'description': '<h4>Red or Green Curry Duck $19.50, Pad Phed Ped Yang $19.50, Yum Seafood $18, Prawn Hokkien Noodles $17, Prawn Egg Noodle Soup $17. These are just some of the dishes below $25. Click below to view more delicious dishes!</h4>',
                        'thumbnail': ['/images/dishesprices/chairman_yip_thumbnail.jpg'],
                        'large': ['/images/dishesprices/chairman_yip.jpg'],
                        'button_list':
                        [
                            { 'title': 'View Menu', 'url': 'https://www.zomato.com/australian-capital-territory/dickson-asian-noodle-house-dickson/menu', 'new_window': true },
                        ],
                        'tags'            : ['Mid-Range']
                    },



                    {
                        'title': 'The Chairman & Yip <hr/> <a class="btn btn-primaryp">Click Here!</a>',
                        'description': '<h4>Steamed medley of seafood w/glass noodles, salted lemon and herbs $37.50, Eye fillet beef and scallop pepper hotpot $37.50, Xian style spiced duck $37.50. These are just some of the dishes below $40. Click below to view more delicious dishes!</h4>',
                        'thumbnail': ['/images/dishesprices/dickson_noodle_thumbnail.jpg'],
                        'large': ['/images/dishesprices/dickson_noodle.jpg'],
                        'button_list':
                        [
                            { 'title': 'View Menu', 'url': 'https://www.dimmi.com.au/restaurant/chairman-and-yip-at-barton', 'new_window': true },
                        ],
                        'tags'           : ['First Class']
                    },
                ]
            });
        });
</script>


@* table/grid align template
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-3" ></div>
        <div class="col-md-3" ></div>
    </div>
    <div class="row">
        <div class="col-md-3">1</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">3</div>
        <div class="col-md-3">4</div>
    </div>
    <div class="row">
        <div class="col-md-3">1</div>
        <div class="col-md-3">2</div>
        <div class="col-md-6">3</div>
    </div>
    <div class="row">
        <div class="col-md-12">1</div>
    </div>

    <div class="row">
        <div class="col-md-12">1</div>
    </div>
*@
