@*ROBERT PIETKIEWICZ U3144505*@
@{
    ViewData["Title"] = "Home Page";
}


<link rel="stylesheet" media="(max-width: 768px)" type="text/css" href="~/css/mystyle.css"> @*for viewing on phone smaller than 768px*@
<link rel="stylesheet" media="(min-width: 768px)" type="text/css" href="~/css/mystyle.css"> @*for viewing on tablet larger than 768px*@
@*<img src="E:\3rd yr sem1 uni coursework - MAIN\Web\VS projects\CanberraRestaurants\CanberraRestaurants\wwwroot\images\Restaurant" />*@
<link href="~/css/mystyle.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/css?family=Niconne" rel="stylesheet" type="text/css">
<link href="https://fonts.googleapis.com/css?family=Lato|Oxygen" rel="stylesheet" type="=text/css">


<div class="parallax_scrolling3">
    <div class="dark_background resizeblah">
        <div class="row">
            <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                <div class="pad">
                    <p class="oxygenotherpage">CANBERRA RESTAURANTS</p>
                </div>
                </div>
            <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1">
                @*<p class="lato">"People who love to eat are always the best people."</p>*@
                <p class="niconne3">Customer Reviews</p>
            </div>
        </div>
    </div>
</div>

<div class="row text-banner-altpage" style="background-color:white;">
    <div class="row">
        <div class="col-md-4 col-md-offset-1">

            <div style="color:black;">
                <h3 class="header-text2">BE THE CRITIC</h3>
                <br />
                <div class="oxygen3">Have you been to a restaurant recently and loved it or loathed it? Then tell us all about it.</div>
                <br />
                <div class="oxygen3">Find your inner restaurant critic and create an account to review your recent dining experience</div>
                <br />
                <br />
                <br />
                <br />                              
                <div>
                   <div class="oxygen3">Please <a href="http://localhost:53597/Account/Login" ; style="color: darkorange;">log in</a> or <a href="http://localhost:53597/Account/Register" ; style="color: darkorange;">create an account</a> to review a restaurant </div>
                </div>
            </div>
            <br />
            @*<div class="buttonReview">Submit a Review</div>*@ @*to appear only when user or manager are logged in - not visible to non-registered user*@
        </div>

        <div class="col-md-5">
            <div class="col-md-6" style="padding-top:60px;">
                <img src="~/images/burgertwo.jpg" />
            </div>
            <div class="col-md-6" style="padding-top:60px;">
                <img src="~/images/pastatwo.jpg" />
            </div>
        </div>
        <div class="col-md-1">
        </div>
    </div>
</div>

<h3>Current user: @User.Identity.Name</h3>

@{
    var role = "";
    if(User.IsInRole("Manager"))
    {
        role = "Manager";
    }
    else
    {
        role = "unknown";
    }
    if (User.IsInRole("User"))
    {
        role = "User";
    }
}

<h3>Role: @role</h3>






@* table/grid align template
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-3" ></div>
        <div class="col-md-3" ></div>
    </div>
    <div class="row">
        <div class="col-md-3">1</div>
        <div class="col-md-3">2</div>
        <div class="col-md-3">3</div>
        <div class="col-md-3">4</div>
    </div>
    <div class="row">
        <div class="col-md-3">1</div>
        <div class="col-md-3">2</div>
        <div class="col-md-6">3</div>
    </div>
    <div class="row">
        <div class="col-md-12">1</div>
    </div>

    <div class="row">
        <div class="col-md-12">1</div>
    </div>
*@
